<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Artifactory" value="https://artifactory.trimble.tools/artifactory/api/nuget/v3/trimbletransportation-connectedfleetcentral-nuget" protocolVersion="3" />
    </packageSources>
  <apikeys>
    <add key="https://artifactory.trimble.tools/artifactory/api/nuget/v3/trimbletransportation-connectedfleetcentral-nuget" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA8vHT/ZesJUaM5ARcpc7ChAAAAAACAAAAAAADZgAAwAAAABAAAABydevdf1ROCt385ua8csKUAAAAAASAAACgAAAAEAAAAAdEhPbNe2jOHmMpme8xOB1oAAAA1sXzgmeD8a3OIT2ETLFWo3aopX3yts/1q1oLfGiS3frTqt0dK6dnvDPMPMHs9eV8A95i4JFdpA/PQsX9xJbBkC2gS2z8ZWOCcyJCN+ShaFCw/CxWjzNvL1mWYv60Zw/cX8jBv5kRXIQUAAAA665Ho3tBQdUbdxYcuQTZUDZ8nLo=" />
  </apikeys>
  <packageSourceCredentials>
    <Artifactory>
        <add key="Username" value="kyle_estes@trimble.com" />
        <add key="ClearTextPassword" value="AKCp5cbn8WKFiy4vwGtVNaJY1QmgwtipzTTz7Numr444WbYNWsWRpqBTpawXhmm1uufUZEoQf" />
      </Artifactory>
  </packageSourceCredentials>
</configuration>
